* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-bar{
    background-color: rgb(121, 245, 245);
    min-height: 120px;
}
.container-flex{
    display: flex;
}
.nav-container{
    max-width: 900px;
    margin: auto;
    padding-top: 25px;
}


.logo{
    background-color: orange;
    height: 70px;
    width: 200px;
}
.menu{
    background-color: rgb(243, 180, 64);
    height: 70px;
    /* width: 200px;  se metto flex grow nn serve piu mettere la larghezza? */
    flex-grow: 1;
}
.login{
    background-color: orange;
    height: 70px;
    width: 200px;
}

/* banner */

.banner-container{
    background-color: rgb(57, 86, 228);
    min-height: 300px;
    padding-top: 50px;
}

.banner-content{
    background-color: rgb(237, 118, 200);
    min-height: 200px;
    width: 600px; 
    margin: auto;
}

/* main/white-bg/section1 */

.white-bg{
    background-color:white;
    min-height: 300px;
    padding-top: 50px;
}
.white-bg-content{
    background-color: rgb(158, 155, 157);
    min-height: 200px;
    width: 600px; 
    margin: auto;
}
.img{
    background-color: rgb(240, 166, 224);
    height:200px;
    width: 200px;
}
.text{
    background-color: rgb(70, 156, 231);
    height: 200px;
    width: 200px;
    flex-grow: 1;
}
.container-flex-white{
    display: flex;
}

/* main/gray/bg/ section2*/

.gray-bg{
    background-color:rgb(242, 233, 233);
    min-height: 300px;
    padding-top: 50px;
}
.gray-bg-content{
    background-color: rgb(158, 155, 157);
    min-height: 200px;
    width: 600px; 
    margin: auto;
}
.container-flex-gray{
    display: flex;
}


/* copy and past section 1 to create section3 in HTML, SAME CSS  */

/* main/green container/section 4 */

.gray-bg-green-content{
    background-color:rgb(242, 233, 233);
    padding-top: 50px;
    padding-bottom: 50px;
}
.green-bg-content{
    background-color: green;
    max-width: 600px;
    min-height: 400px;
    margin: auto;
}

/* footer */

footer{
    background-color: rgb(81, 79, 79);
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-content{
    background-color: rgb(31, 176, 243);
    max-width: 600px;
    min-height: 50px;
    margin: auto;
}
.social-media{
    background-color: rgb(230, 107, 107);
    min-height: 200px;
    flex-grow: 1;
}
.contact{
    background-color: aqua;
    width: 100px;
}

.light-color{
    background-color: rgb(93, 208, 208);
}
.container-flex{
    display: flex;
}
hr{
    background-color: aliceblue;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo-footer{
    background-color: rgb(230, 121, 121);
    max-height: 30px;
    width: 50px;
    

}
.bottone-footer{
    background-color: rgb(230, 121, 121);
    max-height: 30px;
    width: 70px;
}
.container-flex-footer{
    display: flex;
    justify-content: space-between;
    /* align-items: center;  perche quando metto questo proprieta spariscono i div*/
}